.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  max-height: 100px;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 12;
}

.NavBarInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: 100px;
  filter: invert(1);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 200px;
}

.boton-connect {
  display: none;
}

/* Mostrar el botón 'Connect' en pantallas grandes y ocultar el componente 'Burger' */
@media screen and (min-width: 1024px) {
  .boton-connect {
    display: block;
  }
}

/* Mostrar el componente 'CustomBurger' en pantallas pequeñas y ocultar el botón 'Connect' */
@media screen and (max-width: 1023px) {
  .boton-connect,
  .nav-links {
    display: none;
  }
}
