.contenedor-skill {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.titulo-contenedor {
  width: 30vw;
}

.card-contenedor {
  display: flexbox;
  align-items: center;
  align-content: center;
  width: 20vw;
}

.izquierda {
  position: relative;
  left: 5rem;
  top: 0rem;
}
.derecha {
  position: relative;
  right: 10rem;
  top: 0rem;
}
.centro {
  position: relative;
  left: 10rem;
  top: 0rem;
}
