.window {
  width: 60vw;
  height: 60vh;
  border-radius: 10px;
  background: white;
  overflow: hidden;
  box-shadow: 0 1px 1px hsla(0, 21%, 94%, 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10rem;
}
nav {
  color: #000;
  background: #fdfdfd;
  padding: 0px 5px 0 0;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #a4a4a4;
  height: 44px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  user-select: none;
}

ul,
li {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

ul {
  display: flex;
  width: 100%;
}

li {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  padding: 10px 15px;
  position: relative;
  background: white;
  cursor: pointer;
  height: 41px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
  min-width: 0;
  position: relative;
  user-select: none;
}

.underline {
  --accent: #8855ff;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
}

li.selected {
  background: #eee;
}

.front-end {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
